*.lisp
01 Maxima/PEC/data
01 Maxima/PEC/outputs
02 C/2020 - PEC 2/cmake-build-debug/*
02 C/2020 - PEC 2/docs/build/*
*.zip
02 C/2020 - PEC 2/.idea/*
*.mp4
*.pdf
02 C/2020 - PEC 2/build/*
02 C/2020 - PEC 2/workspace.code-workspace
02 C/2020 - PEC 2/.vscode/c_cpp_properties.json
02 C/2020 - PEC 2/.vscode/settings.json
